@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;1,800&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

header {
  padding: 50px 120px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav li a {
  text-decoration: none;
  color: #3a3a3a;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}
nav ul {
  display: flex;
}
nav h1 {
  color: #3a3a3a;
  font-size: 24px;
  font-weight: 700;
}
nav li {
  list-style: none;
  margin-right: 25px;
}
.left h1 {
  color: #3a3a3a;
  font-size: 52px;
  font-weight: 700;
  line-height: 70px;
}

.header-main {
  display: flex;
  margin-top: 80px;
  justify-content: space-between;
}
.left {
  width: 552px;
  margin-top: 70px;
}
.left button {
  height: 34px;
  width: 168px;
  background-color: #f02c6d;
  border: none;
  border-radius: 15px;
  color: white;
  font-weight: 400;
  margin-top: 30px;
  cursor: pointer;
}
.right {
  background-image: url("./images/Circle\ design.svg");
  width: 475px;
  height: 475px;
}
.right img {
  height: 400px;
  margin-top: 55px;
}
.common {
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
}

.header-logo {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.pinku:hover {
  color: #f02c6d;
}

/* ----------=======main section========------------ */

main {
  padding: 50px 120px;
}

.icons {
  margin-top: 10px;
  display: flex;
  color: orange;
}
main h2 {
  color: #3a3a3a;
  font-size: 28px;
  font-weight: 600;
  line-height: 70px;
  text-align: center;
}
.box {
  cursor: pointer;
  width: 329px;
  height: 476px;
  padding: 15px 15px;
  border-radius: 15px;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
.box h3 {
  color: var(--Text-Gray-900, #18191f);
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  margin-top: 8px;
}
.box h5 {
  margin-top: 10px;
  color: var(--Dark-Color, rgba(0, 0, 0, 0.87));
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
}
.box h6 {
  color: var(--Gray-50, #787885);
  font-size: 14px;
  font-weight: 700;
  line-height: 143%;
  letter-spacing: 0.252px;
  margin-top: 4px;
}
.box img {
  width: 100%;
}

#box1 {
  grid-area: b1;
}
#box2 {
  grid-area: b2;
}
#box3 {
  grid-area: b3;
}
#box4 {
  grid-area: b4;
}
#box5 {
  grid-area: b5;
}
#box6 {
  grid-area: b6;
}
#box7 {
  grid-area: b7;
}
#box8 {
  grid-area: b8;
}
#box9 {
  grid-area: b9;
}

.main-section {
  display: grid;
  gap: 30px;

  grid-template-areas:
    "b1 b2 b3"
    "b4 b5 b6"
    "b7 b8 b9";
  margin-top: 60px;
}
.main-foot {
  margin-top: 160px;
  display: flex;
  justify-content: space-between;
}
.fot {
  width: 404px;
  height: 270px;
}
.fot img {
  width: 100%;
}
.text h2 {
    margin-top: 40px;
    color: #0A0826;
    font-size: 30px;
    font-weight: 700;
    line-height: 60px;
    margin-left: 0px;
}
.text {
  width: 55%;
}
.text p {
  margin-top: 5px;
}
.text button {
  height: 30px;
  width: 112px;
  background-color: #f02c6d;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 400;
  margin-top: 20px;
}
footer{
    width: 100%;
    height: 239px;
    background-color: #0A0826;
    text-align: center;
    color: white;
    padding-top: 70px;
    margin-top: 160px;
}
footer h5{
    margin-top: 10px;
    color: #bebebe;
}
footer h6{
    margin-top: 10px;
    color: #3a3a3a;
}

/* media quary */

@media screen and (max-width: 576px) {
  
    footer{
        margin-top: 10px;
    }

    .main-foot {
        flex-direction: column-reverse;
        margin-top: 0;
    }
    .text{
        width: 100%;
    }
    .fot{
        margin-top: 15px;
        width: 100%;
        height: 150px;
    }
    .text h2{
        line-height: 35px;
    }
    .text p{
        margin-top: 10px;
    }



    nav ul {
    flex-wrap: wrap;
  }
  main {
    padding: 30px 40px;
  }
  .main-section {
    grid-template-areas:
      "b1"
      "b2"
      "b3"
      "b4"
      "b5"
      "b6"
      "b7"
      "b8"
      "b9";
    margin: 60px auto;
    width: 100%;
  }

  header {
    padding: 30px 40px;
  }

  .header-main {
    flex-direction: column-reverse;
    padding: 0px 0px;
  }
  .right {
    margin-top: 0px;
    background-image: none;
    width: 100%;
    height: 100%;
  }
  nav {
    flex-wrap: wrap;
  }
  nav ul {
    margin-top: 20px;
  }
  .left {
    width: 80%;
    margin-top: 0px;
  }

  .header-logo {
    flex-wrap: wrap;
    width: 80%;
  }
  .right img {
    margin-top: 0px;
    width: 95%;
    height: 100%;
  }
  .header-logo img {
    margin: 10px 10px;
  }
}

/* 576-786 */
@media screen and (min-width: 577px) and (max-width: 786px) {
  .main-foot{
    flex-direction: column-reverse;
    margin-top: 0;
    margin-left: 20px;
  }
  .text{
    width: 70%;
  }
  .main-foot img{
    margin-top: 20px;

  }
  .fot{
    width: 550px;
  }
  
  
  
    main {
    padding: 50px 0px;
  }
  .main-section {
    grid-template-areas:
      "b1 b2"
      "b3 b4"
      "b5 b6"
      "b7 b8"
      "b9 b9";
    margin-top: 60px;
  }

  .header-main {
    flex-direction: column-reverse;
    padding: 0px 0px;
    margin-top: 20px;
  }
  .right {
    background-image: none;
  }
  .left {
    width: 100%;
  }
  header {
    padding: 50px 50px;
  }
  .header-logo {
    flex-wrap: wrap;
    margin: 40px 30px;
  }
}
/* 788-992 */
@media screen and (min-width: 787px) and (max-width: 992px) {
    .main-foot{
        flex-direction: column-reverse;
        margin-top: 0;
        margin-left: 0px;
      }
      .text{
        width: 70%;
      }
      .main-foot img{
        margin-top: 20px;
    
      }
      .fot{
        width: 600px;
      }
 
    main {
    padding: 50px 50px;
  }
  .main-section {
    grid-template-areas:
      "b1 b2"
      "b3 b4"
      "b5 b6"
      "b7 b8"
      "b9 b9";
    margin-top: 60px;
  }

  .header-main {
    flex-direction: column-reverse;
    padding: 0px 0px;
    margin-top: 20px;
  }
  .right {
    background-image: none;
  }
  .left {
    width: 60%;
  }
  header {
    padding: 50px 50px;
  }
  .header-logo {
    flex-wrap: wrap;
    margin: 40px 30px;
  }
}

/* 993-1200 */
@media screen and (min-width: 993px) and (max-width: 1200px) {
 .main-section{
    gap: 10px;
 }
 
    main {
    padding: 50px 5px;
  }
  .header-main {
    flex-direction: column-reverse;
    padding: 0px 0px;
    margin-top: 20px;
  }
  .right {
    background-image: none;
  }
  .left {
    width: 60%;
  }
  header {
    padding: 50px 40px;
  }
  .header-logo {
    flex-wrap: wrap;
    margin: 40px 30px;
  }
}
